.rightbarFriend{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.rightbarProfileImgContainer{
    margin-right: 15px;
    position: relative;
}
.rightbarOnline{
    background-color: limegreen;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: -5px;
    border: 2px solid white;
}
.rightbarProfileImg{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.rightbarUsername{
    font-weight: 400;
}