.rightbar{
    flex: 3.5;
}
.rightbarWrapper{
    padding: 20px 20px 0 0;
}
.birthdayContainer{
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    padding: 10px;
}
.birthdayImg{
    width: 60px;
    height: 60px;
    object-fit: fill;
    margin-right: 10px;
}
.birthdayText{
    font-weight: 400;
    font-size: 15px;
}
.rightbarAdvertise{
    width: 104%;
    max-height: 700px;
    border-radius: 10px;
    margin: 25px 0;
}
.rightbarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.rightbarTitle{
    margin-bottom: 15px;
}
.rightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.rightbarInfo{
    margin-bottom: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    padding: 10px; 
}
.rightbarInfoItem{
    margin-bottom: 10px;
}
.rightbarInfoKey{
    font-weight: 400;
    margin-right: 15px;
    color: #555;
}
.rightbarInfoValue{
    font-weight: 300;
}
.rightbarFollowings{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-gap: 2px;

    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
}
.rightbarFollowing{
    margin-bottom: 14px;
    margin-left: 7px;
    margin-top: 7px;
    cursor: pointer;
}
.rightbarFollowingImg{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
}
